<div class="wrapper">
    <div class="nav-wrap">
        <ul>
            <li>Employees
                <ul>
                    <li><a class="nav-link" routerLink="/register">Create Employee</a></li>
                    <li><a class="nav-link" routerLink="/search">List Of Employees</a></li>
                </ul>
            </li> 
            <li>Consultant
                <ul>
                    <li><a class="nav-link" routerLink="/register">Create Consultant</a></li>
                    <li><a class="nav-link" routerLink="/search">List Of Consultant</a></li>
                </ul>
            </li>
            <li>Marketer
                <ul>
                    <li><a class="nav-link" routerLink="/register">Create Marketer</a></li>
                    <li><a class="nav-link" routerLink="/search">List Of Marketer</a></li>
                </ul>
            </li>
            <li>ClassList
                <ul>
                    <li><a class="nav-link" routerLink="/register">Create Students</a></li>
                    <li><a class="nav-link" routerLink="/search">List Of Students</a></li>
                </ul>
            </li>
            <li>Accomadations
                <ul>
                    <li><a class="nav-link" routerLink="/register">Create Student-Rental</a></li>
                    <li><a class="nav-link" routerLink="/search">List Of Apartments</a></li>
                </ul>
            </li>
            <li>Training
                <ul>
                    <li><a class="nav-link" routerLink="/register">Create Trainer</a></li>
                    <li><a class="nav-link" routerLink="/search">List Of CLasses</a></li>
                </ul>
            </li> 
            <li>VC
                <ul>
                    <li><a class="nav-link" routerLink="/register">Create VC</a></li>
                    <li><a class="nav-link" routerLink="/search">List Of VC</a></li>
                </ul>
            </li> 
        </ul>
    </div>
</div>

